/* Media queries */
$xsmall: "screen and (max-width: 575px)";
$small: "screen and (min-width: 576px)";
$mid: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";
$xlarge: "screen and (min-width: 1200px)";
$xxlarge: "screen and (min-width: 1600px)";

/* Colors */
$main-theme: linear-gradient(to top, rgb(251, 194, 235) 0%, rgb(166, 193, 238) 100%);
$light: rgb(255, 255, 255);
$transparent-white: rgba(255, 255, 255, 0.1);
$darker-light: rgb(214, 211, 211);
$popupBackground: rgba(175, 123, 196, .8);
$card-header-font: rgb(151, 124, 167);
$card-header: rgb(219, 200, 237);
$font-color:rgb(128, 128, 128);
$box-shadow: 0px 2px 22px 2px rgba(133, 130, 130, 0.62);
$box-shadow-blurred: 0px 2px 22px -6px rgba(136, 133, 133, 0.62);
$card-background: linear-gradient(to top, rgb(233, 243, 237) 0%, rgb(255, 255, 255) 100%);
$border: rgb(128, 0, 128);
$hover-highlight: rgba(172, 27, 216, 0.2);
$form: rgba(250, 245, 245, 0.115);
$form-header: rgb(182, 190, 231);

/*Fonts*/

$primary-font: "Montserrat", sans-serif;